@model SmallBusinessForYouth.Models.Order

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm("Create", "SpecialOrder", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>အထူးမှာယူခြင်း</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("ဓာတ်ပုံထည့်ရန်", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="OrderImageFile" required />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("နေ့စွဲ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Entry_Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Entry_Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("မှာယူလိုသောအရေအတွက်", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order_No, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Order_No, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("အကြောင်းအရာ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Special_Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Special_Note, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="reset" value="ပယ်ဖျက်မည်" class="btn btn-danger" />
                <input type="submit" value="မှာယူမည်" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    alert(@TempData["Message"]);
</script>