@using PagedList;
@using PagedList.Mvc;

@model IPagedList<SmallBusinessForYouth.Models.Seller>

@{
    ViewBag.Title = "Index";
}

<p>
    <div class="container">
       <div class="row">
           <div class="col-sm-4">
               @Html.ActionLink("Create New", "SellerRegister", FormMethod.Post, new { enctype = "multipart-data" })
           </div>
               <div class="col-sm-8">
                   @using (Html.BeginForm("Index", "Seller", FormMethod.Get))
                   {
                       @Html.AntiForgeryToken()
                       <div class="input-group pull-right">
                           @Html.TextBox("search", null, new { placeholder = "Search" })
                           <span class="input-group-prepend">
                               <button class="btn btn-primary" type="submit">Search</button>
                           </span>
                       </div>
                   }
               </div>
           </div>
       </div>
   
</p>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Entry_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Rating)
        </th>
       
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entry_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SId })
            </td>
        </tr>
    }

</table>
<center><p>@Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = Request.QueryString["search"] }))</p></center>

